body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

video
{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

h2
{
    margin: 0;
}

.content
{
    color: white;
    min-width: 100%;
    min-height: 100%;
}

.cont1
{
    background: rgba(85, 85, 85, 0.1);
    color: rgb(255, 255, 255, 0.3);
    min-width: 100%;
    text-align: center;
    padding: 350px 0;
}

.cont1:hover
{
    background: rgb(0, 0, 32, 0.6);
    color: white;
}

.cont2
{
    background: rgba(53, 32, 0, 0.6);
    min-width: 100%;
    text-align: center;
    padding: 350px 0;
}

.cont2:hover
{
    background: rgba(85, 85, 85, 0.1);
    color: rgb(255, 255, 255, 0.3);
}

a
{
    text-decoration: none;
    color: white;
    background: rgb(0, 128, 0, 0.4);
    padding: 20px 30px;
    font-size: 20px;
}

a:hover
{
    background: rgb(0, 128, 0, 0.1);
}
